.btn {
  padding: 15px 30px;

  border: none;
  border-radius: 8px;

  font-size: 18px;

  cursor: pointer;
  transition: all 0.3s ease;

}

.btnAuth {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.btnAuth:hover {
  background-color: #0056b3;
}