.button-container {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;

}


.product-button {
    border-radius: 5px;
    background-color: #e898f8;
    width: 200px;
    height: 30px;
    margin-left: 15px;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;

}

.product-button:hover {
    background-color: #774682;
}