.main-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100vh;
}

.button {
    padding: 15px 40px;

    margin: 10px;

    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4994e4ec;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;

}

.button:hover {
    background-color: #0056b3;
}