.sidebar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  color: #4e4d4f;
  background-color: #f8f9fa;
  width: 18rem;
  border-right: 1px solid #e5e7eb;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.sidebar__menu__item {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s ease-in-out;


  &:hover {
    background-color: #ebebeb;
  }

  &.active {
    font-weight: 700;
    color: #8624db;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 5px;
      top: 0;
      left: 0;
      background-color: #d0bee0b8;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.sidebar__menu__item__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.5rem;

  }
}

.sidebar__menu__item__txt {
  font-size: 1rem;
  font-weight: 500;
}