.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 1000px;
    height: 500px;
}

.left-content {
    flex: 1.2;
    padding: 20px;
    flex-direction: row;
    max-height: 400px;
    overflow-y: auto;

}

.right-content {
    flex: 0.8;
    font-size: 18px;
    padding-top: 20px;
}

.modal1-content {
    display: flex;
    flex-wrap: wrap;
}

.modal1-content>div {
    margin-bottom: 20px;
}

.modal1-content img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
}

.item-container img {
    width: 100%;
    height: auto;
    margin-right: 10px;
}

.order-info {
    margin: 10px 0;

}

.order-info1 {
    margin-left: 750px;
    font-size: 18px;
    margin-top: 10px;
}

.order-info strong {
    font-weight: bold;
}

.order-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.modal {
    position: relative;
    /* Đảm bảo modal là relative để footer có thể làm việc trong phạm vi của nó */
}

.footer {
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d56a30;
    /* Màu nền của footer */
    padding: 10px;
    /* Khoảng cách giữa nội dung và biên của footer */
}