.header {
    background-color: #6d6d6d;

    color: #fff;

    padding: 1rem;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.logo img {
    width: 100px;

    height: auto;

}

.header-right {
    display: flex;
    align-items: center;
}

.search-box {
    margin-right: 20px;

}

.search-box input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search-box button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon-container {
    display: flex;
}

.icon {
    padding: 0.5rem;
    background-color: #ffffff;
    color: #343131;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.mail-icon i,
.notification-icon i {
    font-size: 1.2rem;
    color: #fff;

}

.mail-icon-img,
.notification-icon-img {
    width: 20px;

    height: auto;

}