form {
  padding: 10px 10px;
  height: 100%;
  width: 100%;
}

.item-flex {
  display: flex;
}

.item_name {
  width: 60%;
  margin-right: 10px;
}

.item_price {
  width: 20%;
  margin-right: 10px;
}

.item_amount {
  width: 20%;
  margin-right: 10px;
}

.item-category {
  width: 70%;
}

.select {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 30%;
}

select {
  width: 97%;
  height: 4rem;
  border-radius: 3px;
}

label {
  color: #888888;
  font-size: 1.3rem;
}

.item {
  width: 33.3%;
  margin-right: 10px;
}

textarea {
  min-width: 113rem;
  min-height: 12rem;
  max-width: 60rem;
  max-height: 20rem;
}

.textarea {
  border-radius: 10px;
  margin-right: 20px;
}

.form_add h2 {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  text-align: start;
  border-bottom: 3px solid #009a1c;

}

.file_card {
  margin-top: 10px;
  width: 20rem;

  span {
    color: red;
  }

  img {
    object-fit: cover;
  }
}

.file_inputs {
  position: relative;
  margin-bottom: 1.5em;

  input {
    position: relative;
    text-align: right;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 46px;
    max-width: 20rem;
  }

  button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #c89595;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }

  &:hover {
    button {
      background-color: #d5adad;
    }
  }
}

.remove {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #f0e5e5;
  border: 1px solid black;
  border-radius: 5px;
}

.remove span {
  margin-top: 620px;
  margin-left: 340px;
}

.remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.textarea_error {
  color: red;
}

.form_add {
  width: 1180px;
  height: 670px;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #888888;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

}

.button-back-product {
  padding-left: 130px;

}

.button-back-product button {
  width: 100px;
  color: #fff;
  height: 40px;
  border-radius: 3px;
  background-color: #d0bee0b8;
  border: none;
}

.error-text {
  color: red;
  font-size: 1.2rem;
  padding: 0.2px;
  margin-left: 10px;
}

.button-deleteimg button {
  width: 200px;
  height: 50px;
  background-color: rgb(226, 196, 196);
  color: #ff0000;
  border-radius: 4px;
  border: none;
}

.button-submit-product button {
  width: 200px;
  height: 50px;
  background-color: rgb(172, 239, 194);
  color: #008209;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
}

.button-group-createproduct {
  display: flex;
  justify-content: space-between;
  /* Đặt khoảng cách đều giữa các nút */
  margin-top: 10px;
  /* Khoảng cách từ các nút đến phần trên */
}