.main {
  overflow-x: hidden;
  display: flex;
  flex: auto;
  // flex-wrap: nowrap;
  // flex-direction: row;

  &__outlet {
    flex: 1;
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.chat_admin {
  position: fixed;
  bottom: 0;
  right: 5rem;
  display: flex;
  gap: 3rem;
}
.chatScreen_admin {
  position: unset;
}
