.header-table {
  width: calc(100% - 40px);

  margin-left: 20px;
  margin-right: 20px;
}

.header-table-container span {
  position: absolute;
  top: 0;

  left: 0;

  margin-top: 15px;
  margin-left: 20px;
  font-size: 13px;

}

// .header-table th {
//   position: relative;

//   background-color: #f2f2f2;
//   font-weight: bold;
//   padding: 8px;
//   border: 1px solid #ddd;
//   text-align: left;
//   border-radius: 8px 8px 0 0;

// }

.purple-line {
  position: absolute;

  width: 100%;
  height: 3px;

  background-color: #8624db;

  top: 0;

  left: 0;

}

.product-table-container {
  overflow-x: auto;
  padding: 20px;

}

.product-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;

  border-radius: 0 0 80px 8px;

}

.product-table th,
.product-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tbody tr:hover {
  background-color: #ddd;
}

.product-table tbody td img {
  max-width: 100px;
  height: auto;
}

.button-container {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: flex-start;

  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;

}

.search-box {
  display: flex;

  margin-right: 20px;
  margin-left: 200px;
}


.search-box input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  height: 40px;
}

.search-box button {
  margin-top: 4px;
  padding: 0.5rem 1rem;
  background-color: #5151f7;
  color: #eae7e7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-right: 5px;
  width: 100px;
}



.search-box button[type="product-button"] {
  border-radius: 5px;
  background-color: #e898f8;
  width: 200px;
  height: 40px;
  margin-left: 5px;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #774682;
}

.headerCreateProduct {
  display: flex;
  align-items: center;
}

form {
  padding: 10px 0;
  height: 100%;
  width: 100%;
}

.item-flex {
  display: flex;
}

.item_name {
  width: 60%;
  margin-right: 10px;
}

.item_price {
  width: 20%;
  margin-right: 10px;
}

.item_amount {
  width: 20%;
  margin-right: 10px;
}

.item-category {
  width: 70%;
}

.select {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 30%;
}

select {
  margin: 10px 0;
  width: 100%;
  height: 4rem;
  border-radius: 10px;
}

label {
  color: #888888;
  font-size: 1.3rem;
}

.item {
  width: 33.3%;
  margin-right: 10px;
}

textarea {
  min-width: 116.5rem;
  min-height: 12rem;
  max-width: 60rem;
  max-height: 20rem;
}

.textarea {
  border-radius: 10px;
  margin-right: 20px;
}

h2 {
  display: flex;
  flex-direction: row;
  text-align: start;
}

.file_card {
  margin-top: 10px;
  width: 20rem;

  span {
    color: red;
  }

  img {
    object-fit: cover;
  }
}

.file_inputs {
  position: relative;
  margin-bottom: 1.5em;

  input {
    position: relative;
    text-align: right;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 46px;
    max-width: 20rem;
  }

  button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #c89595;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }

  &:hover {
    button {
      background-color: #d5adad;
    }
  }
}

.remove {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: #f0e5e5;
  border: 1px solid black;
  border-radius: 5px;
}

.remove span {
  margin-top: 620px;
  margin-left: 340px;
}

.remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.textarea_error {
  color: red;
}

.product-container {
  margin: 0 auto; // căn giữa theo chiều ngang
  max-width: 1200px; // giới hạn chiều rộng tối đa của phần tử

}